
body, html {
  background-color:#EBECF0;
}

body, p, input, select, textarea, button {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -0.2px;
    font-size: 16px;
}

div, p {
  color: #343a40;
  text-shadow: 1px 1px 1px #FFF;
}


form {
  padding: 16px;
  width: 16px*20;
  margin: 0 auto;
}

.segment {
  padding: 16px*2 0;
  text-align: center;
}

button, input {
  border: 0;
  outline: 0;
  font-size: 16px;
  border-radius: 16px*20;
  padding: 16px;
  background-color:#EBECF0;
  text-shadow: 1px 1px 0 #FFF;
}

label {
  display: block;
  margin-bottom: 16px*1.5;
  width: 100%;
}

input {
  margin-right: 16px/2;
  box-shadow:  inset 2px 2px 5px #BABECC, inset -5px -5px 10px #FFF;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  appearance: none;
  -webkit-appearance: none;

 
}

button {
  color:#6610f2;
  font-weight: bold;
  box-shadow: -5px -5px 20px #FFF,  5px 5px 20px #BABECC;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-weight: 600;
  

  }
  a {
    color: #007bff;
  }

  a.head{
    color:#FFF;

  }
  .icon {
    margin-right: 16px/2;
  }
  
.input-group {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  
}